@import "variable";
html, body{
    margin: 0;
}
nav{
    background-color: $negro;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    .navLink{
        text-align: center;
        font-family: 'Akaya Kanadaka', cursive;
    }
}
ul{
    margin-top: 0;
    list-style: none;
}
#carrito{
    background-color: $blanco;
    border-radius: 50px;
    height: 40px;
    margin: -45px 0.5%;
    margin-left: auto;
    float: right;

}

#containerTitulos, #containerBusqueda{
    text-align: center;
    display: block;
    position: sticky;
    h2, input, button{
        font-family: 'Ramaraja', serif;
    }
    label{
        display: inherit;
        width: auto;
        margin-left: 2.5%;
    }
    input{
        width: 210px;
        height: 2.5rem;
    }
}
#containerTitulos{
    margin: 70px auto 20px auto ;
}
#containerBusqueda{
    margin-bottom: 20px;
}

h1{
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}


#containerSlide{
    height: 400px;
    width: 600px;
    margin: auto;
    grid-area: anuncios;
    #slideshow{
        width: 100%;
        height: 300px;
        margin: auto;
        overflow: hidden;
        border-radius: 3%;
        ul{
            padding: 0;
            display: flex;
            width: 300%;
            animation: rotar 20s infinite;
        }
        #slide{
            width: 100%;
            list-style: none;
            img {
                width: auto;
                height: 300px;
                width: 600px;
            }
        }
    }
}

@each $container in containerSlide, recomendadosContainer, loginDiv, registerDiv{
  ##{$container} h2{
    display:block;
    font-family: 'Bebas Neue', cursive;
    margin: 20px;
    text-align: center;
    }
}

@keyframes rotar {
    0%{
        margin-left: 0;
    }
    25%{
        margin-left: 0;
    }
    30%{
        margin-left: -100%;
    }
    55%{
        margin-left: -100%;
    }
    60%{
        margin-left: -200%;
    }
    85%{
        margin-left: -200%;
    }

}

#recomendadosContainer{
    min-width: 50%;
    max-width: 100%;
    grid-area: recomendados;
    #recomendados{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 10px;
        .itemDiv{
            max-width: 440px; 
            min-width: 420px;
            height: 450px;
            width: 500px;
            border-radius: 5%;
        } 
        .itemRecomendado{
            margin-bottom: 50px;
            overflow: hidden;
            flex-shrink: 3;
            hr{
                margin-top: 15px;
                border-color: $grisClaro;
            }
            span{
                display: block;
                margin: auto;
                color: $gris;
                font-size: 30px;
                text-align: center;
            }
            img{
                height: 300px;
                display:block;
                width: auto;
                margin: 10% auto 0 auto;
            }
        }
    }
}

.itemDiv, .preguntaDiv, #loginDiv, #registerDiv, #containerAboutus{
    border: 1px lightgrey solid;
}
#loginDiv, #registerDiv{
    display: table;
    width: 40%;
    border-radius: 10px;
    h2{
        display: block;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
    }
}
#loginDiv{
    margin: 93px auto;
}
#registerDiv{
    margin: 39.5px auto;
}
#containerLabels{
    display: table;
    margin: auto auto;
}
.registerLabelForm, .loginLabelForm{
    display: table;
    vertical-align: middle;
    img{
        height: 50px;
        width: auto;
        margin-right: 50px;
        transform: translateY(40%);
    }
    span{
        display: inline-block;
        text-align: center;
        min-width: 170px;
        margin-right: 50px;
        font-family: 'Noto Serif', serif;
    }
}

.loginLabelForm{
    margin: 30px;
}
.botonRegistroLogin{
    display: table;
    height: 50px;
    width: 150px;
    font-family: 'Bebas Neue', cursive;

}
#botonLoginForm{
    @extend .botonRegistroLogin;
    margin: 100px auto 60px;
}
#botonRegisterForm{
    @extend .botonRegistroLogin;
    margin: 50px auto 30px;
}
.registerLabelForm{
    margin: 15px;
}

.preguntaDiv, #containerAboutus{
    border-radius: 25px;
    margin: 30px 30px;
}
.itemDiv:hover, .preguntaDiv:hover, #loginDiv:hover, #registerDiv:hover, #containerAboutus:hover{
    box-shadow: 0 0 11px $sombra; 
}
.preguntaDiv h3, .preguntaDiv p, #containerAboutus h2, #containerAboutus p{
    margin: 20px 30px;
}
#bloqueTextoImagen{
    display: grid;
    grid-template-columns: auto auto;
    div{
        margin: 10px 30px 0 0;
        img{
            height: 500px;
            width: auto;
            float: right
        }
    } 
}
#bloqueTextoImagen, #bloqueTexto{
    margin: 10px 20px;
}
#catalogo{
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-column-gap: 10px;
    grid-template-areas: 
    "barraLateral listaDeObjetos"
    ;
}
#listaDeObjetos, #barraLateral{
    display: inline-block;
    padding: 10px 10px;
}
.elemento, #barraLateral{
    border: 1px lightgrey solid;
}
#barraLateral{
    grid-area: barraLateral;
    margin-left: 5px;
}
#listaDeObjetos{
    text-align: start;
    grid-area: listaDeObjetos;
}
.elemento{
    display: flex;
}
.categoria span, .nombreElemento, .descripcionElemento{
    font-family: 'Bebas Neue', cursive;
}
.categoria>span{
    font-size: medium;
}
.subCategoria>span{
    font-size: small;
}
#listaDeObjetos{
    margin-right: 6.5%;
}
.containerImagen, .containerImagen>img{
    height: 150px;
    width: auto;
    max-width: 200px;
    justify-content: center;
}
.containerImagen, .containerTextos{
    min-width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.containerTextos{
    margin: auto auto auto 0.5%;
}
#bodyIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "headerIndex"
    "anuncios"
    "recomendados"
    "footer";
}
#headerIndex{
    grid-area: headerIndex;
}

@media screen and (min-width: 1200px){
    .elemento{
        flex-flow: row nowrap;
    }
}
@media screen and (max-width: 600px){
    .elemento{
        flex-flow: column wrap;
    }
}